body {
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
}

h1 {
  margin: auto;
  padding: 10px 0 10px 0;
  font-weight: 600;
  font-size: 34px;
  display: flex;
  justify-content: center;
}

.fizz {
  color: crimson;
}

.buzz {
  color: darkcyan;
}

label {
  font-size: 24px;
}

p {
  font-size: 22px;
}




.input-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.input-container label {
  padding: 10px 0 10px 0;
}

.input-container input {
  width: 180px;
  height: 22px;
  border: 2px solid darkcyan;
}

#fizzBuzzButton {
  font-size: 18px;
  background-color: rgb(95, 211, 211);
  cursor: pointer;
  margin-top: 20px;
}

#fizzList {
  max-height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  font-size: 22px;
}

@media (max-width: 500px) {
  a {
    display: flex;
    justify-content: center;
  }
  img {
    width: 50px;
    height: 50px;
  }
  h1 {
    font-size: 28px;
  }
  #fizzList {
    font-size: 18px;
  }
  p {
    font-size: 18px;
  }
  label {
    font-size: 20px;
  }
}
